@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Rubik:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: black;
}
.logo {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #36454F;
  padding: 1rem 5rem;
  align-items: center;
}
.navbar {
  display: flex;
}
li {
  color: black;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 1rem;
}
.home {
  padding: 0 5rem;
  height: 90vh;
  width: 100%;
  background-color: #36454F;
  background-image: url("../images/background/background.png");
}
.left {
  padding-top: 5rem;
  padding-left: 5rem;
}
.right {
  padding-top: 7rem;
  padding-left: 12rem;
}
.home_container {
  display: flex;
  align-items: center;
}
.home_head {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.home_image {
  height: 50vh;
}
.btn {
    margin-top: 1rem;
    border: none;
  background-color: orangered;
  border-radius: 5px;
  font-weight: bold;
  height: 2.5rem;
  width: 8rem;
}
.left p{
    font-weight: bold;
}